@model EventManagementSystem.Models.EventsPhotography

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EventsPhotography</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientOrder.ClientOrderKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOrder.ClientOrderKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventsPhotographyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
