@model IEnumerable<EventManagementSystem.ViewModels.ClientOrderViewModel>
@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script>
        //$(function () {
        //    $.ajaxSetup({ cache: false });
        //    $("a[data-modal]").on("click", function (e) {
        //        $('#DetailsBody').load(this.href, function () {
        //            $('#DetailsModal').modal({
        //                keyboard: true
        //            }, 'show');
        //        });
        //        return false;
        //    });
        //});
        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#DetailsBody').load(this.href, function () {
                    $('#DetailsModal').modal({
                        keyboard: true
                    }, 'show');
                });
                return false;
            });
        });
    </script>
}

<h2>Client Order </h2>

<table class="table table-striped table-responsive table-bordered">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Event Type
        </th>
        <th>
            Event Name
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>

        <th>
            Venue
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSubTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.ClientOrderID })*@
                @Html.ActionLink("View Order", "DetailsForClient", "ClientOrderVM", new { id = item.ClientOrderID }, new { data_modal = "" })
            </td>
        </tr>
    }

</table>
<div class="modal" id="DetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> Details</div>
            <div class="modal-body" id="DetailsBody">


            </div>
        </div>
    </div>
</div>
@*<div class="modal" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> Details</div>
            <div class="modal-body" id="DetailsBody">


            </div>
        </div>
    </div>
</div>*@
