@model EventManagementSystem.Models.ServiceProvider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServiceProvider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceProviderKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceProviderKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceProviderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
