@model IEnumerable<EventManagementSystem.Models.ServiceProvider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link href="~/assets/extra-libs/multicheck/multicheck.css" rel="stylesheet" />
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />


@section Scripts {
    <script src="~/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="~/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title"><a href="@Url.Action("Create", "ServiceProvider")" class="btn btn-success">Create New ServiceProvider</a></h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">ServiceProvider</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ServiceProvider List</h5>
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Service.ServiceName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ServiceProviderKey)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ServiceProviderName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Service.ServiceName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ServiceProviderKey)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ServiceProviderName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { id=item.ServiceProviderID}))" class="btn menu-icon " style="padding:2px"> <i class="mdi mdi-account-edit font-20"></i> </a>
                                            |
                                            <a href="@Url.Action("Details", new { id=item.ServiceProviderID}))" class="btn menu-icon" style="padding:2px"> <i class="mdi mdi-account-card-details font-18"></i> </a>


                                        </td>
                                    </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
