@model IEnumerable<EventManagementSystem.Models.EventBill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientOrder.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MadeBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOrder.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MadeBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventBillID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventBillID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventBillID })
        </td>
    </tr>
}

</table>
