@model EventManagementSystem.Models.EventsCatering

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EventsCatering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientOrder.ClientOrderKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOrder.ClientOrderKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerPersonCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerPersonCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventsCateringID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
